# Creating Variables in python
A variable is a name which is used to assign a value and store the value.

In [2]:
#Name is our variable here which is used to store my name which is Daniel Brian.
#When i print name it will output Daniel brian Gatuhu as that is what it was storing.

name = "Daniel Brian Gatuhu"
print(name)

Daniel Brian Gatuhu

Rules for Python variables:

1.A variable name must start with a letter or the underscore character. eg my_name or honey = sweet

2.A variable name cannot start with a number. eg 6nine this is incorrect.

3.A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )eg name*= Ann this is incorrect because an aesteric cannot be used. 

4.Variable names are case-sensitive (age, Age and AGE are three different variables) eg age = 12, Age = 13, AGE= 14, all this are storing different values despite them being the same name.

# The Assignment operator
An operator is a symbo which performs an operation on one or more values. Values are assigned to variable names using a special symbol called
the assignment operator (=). The = operator takes the value to the
right of the operator and assigns it to the name on the left.

In [4]:
#Example
greetings = "Hello world"
print(greetings)

Hello world

# String and String Methods
Collections of text in Python are called strings.Special functions
called string methods are used to manipulate strings.

In [5]:
#Strings cannot be broken into smaller values of a different type
#Srings are abbreviated str

Elon = "Founder and C.E.O of Spacex"
type(Elon)
#the output str indicates that "Founder and C.E.O of Spacex" is an instance of the str data type

str

Strings have three important properties:
1. Strings contain individual letters or symbols called characters.
2. Strings have a length, defined as the number of characters the
string contains.
3. Characters in a string appear in a sequence, which means that
each character has a numbered position in the string.
Let’s take a closer look at how strings are created.

In [6]:
#Strings can be single quotes or double quotes
#The quotes surrounding a string are called delimiters

string3 = "Hello world"
string4 = "1234"

print(string3)
print(string4)

Hello world
1234

If you try to use double quotes inside a string delimited by double
quotes, you’ll get an error:

In [2]:
text = "She said,"What time is it?""
print(text)

SyntaxError: invalid syntax (<ipython-input-2-db8036392542>, line 1)

Python throws a SyntaxError because it thinks the string ends after the
second ", and it doesn’t know how to interpret the rest of the line. If
you need to include a quotation mark that matches the delimiter inside a string, then you can escape the character using a backslash:

In [3]:
text = "She said, \"What time is it?\" "
print(text)

She said, "What time is it?"

# Determine the Length of a String

In [4]:
#Number of characters contained in a string are called the length of a string
#Python has a built-in len() function that you can use to determinr the length of the string

text = "Daniel is great."
len(text)

#We can see that text variable has 16 characters.

16

 Multiline Strings.
 
 To deal with long strings, you can break them up across multiple lines
into multiline strings.

In [5]:
#When you print() a multiline string that’s broken up by backslashes,
#the output is displayed on a single line:
long_string = "This multiline string is \
displayed on one line"
print(long_string)

This multiline string is displayed on one line

You can also create multiline strings using triple quotes (""" or ''') as
delimiters. Here’s how to write a long paragraph using this approach:

In [6]:
#You can use triple-double quotes or triple -single quotes
paragraph = """This planet has—or rather had—a problem, which was
this: most of the people living on it were unhappy for pretty much
of the time. Many solutions were suggested for this problem, but
most of these were largely concerned with the movements of small
green pieces of paper, which is odd because on the whole it wasn't
the small green pieces of paper that were unhappy."""
print(paragraph)

This planet has—or rather had—a problem, which was
this: most of the people living on it were unhappy for pretty much
of the time. Many solutions were suggested for this problem, but
most of these were largely concerned with the movements of small
green pieces of paper, which is odd because on the whole it wasn't
the small green pieces of paper that were unhappy.

Review Exercises

You can пnd the solutions to these exercises and many other bonus
resources online at realpython.com/python-basics/resources
1. Print a string that uses double quotation marks inside the string.
2. Print a string that uses an apostrophe inside the string.
3. Print a string that spans multiple lines with whitespace preserved.
4. Print a string that is coded on multiple lines but gets printed on a
single line

In [9]:
#Print a string that uses double quotation marks inside the string.
Daniel = "He said,\"Nigerian women are beautiful\"."
print(Daniel)

He said,"Nigerian women are beautiful".

In [10]:
#Print a string that uses an apostrophe inside the string.
Daniel = "He said,\"Nigeria's women are beautiful\"."
print(Daniel)

He said,"Nigeria's women are beautiful".

In [12]:
# Print a string that spans multiple lines with whitespace preserved.
Nick_vujicic_said = """In every setback, failure, and defeat there are valuable lessons
to be learned and even blessings to be unlocked."""
print(Nick_vujicic_said)

In every setback, failure, and defeat there are valuable lessons
to be learned and even blessings to be unlocked.

In [22]:
# Print a string that is coded on multiple lines but gets printed on a
#single line
Apostle_Joshua_selman_said = "The secret of visibility \
is staying with Jesus \
Christ in prayers and in meditation."
print(Apostle_Joshua_selman_said)

The secret of visibility is staying with Jesus Christ in prayers and in meditation.

## Concatenation, Indexing, and Slicing

In this section, you’ll learn about three basic string operations:
1. Concatenation, which joins two strings together
2. Indexing, which gets a single character from a string
3. Slicing, which gets several characters from a string at once

In [25]:
#You can combine, or concatenate, two strings using the + operator:
# Notice that the two strings are joined without any whitespace between them.

string1 = "Daniel"
string2 = "Brian"
my_name = string1 + string2
print(my_name)

DanielBrian

In [26]:
#You can use string concatenation to join two related strings

first_name = "Ann"
last_name = " Wanjiku"
full_name = first_name + " " + last_name
print(full_name)

Ann  Wanjiku

String Indexing

In [28]:
#Each character in a string has a numbered position called an index.
#You can access the character at the nth position by putting the number n between two square brackets ([]) immediately after the string:

flavor = "fig pie"
print(flavor[1])

#flavor[1] returns the character at position 1 in "fig pie", which is i.
#This is because most programming language always start counting at zero.

print(flavor[0])

i
f

If you try to access an index beyond the end of a string, then Python
raises an IndexError:

In [29]:
flavor = "fig pie"
print(flavor[9])

IndexError: string index out of range

The largest index in a string is always one less than the string’s length.
Since "fig pie" has a length of seven, the largest index allowed is 6

In [30]:
#string also supports negative indexes
print(flavor[-1])

#The last character in a string has index -1, which for "fig pie" is the letter e. The second to last character i has index -2, and so on

e

In [9]:
#One way to get the last character of a string is to calculate the final index using len ():
user_input = "Daniel has five cousins"
#using len() function and -1 you can easily get the number of characters in the variable.
final_index = len(user_input) -1
#user_input[final_index] helps us get the last character of our variable.
last_character = user_input[final_index]
#other ways to get the final character with ease is by:
last_character = user_input[-1]
last_character

's'

String Slicing

Suppose you need a string containing just the first three letters of the
string "fig pie". You could access each character by index and concatenate them like this:

In [10]:
#Example
flavor = "fig pie"
first_three_letters = flavor[0] + flavor[1] + flavor[2]
first_three_letters

'fig'

Concatenating a string individually can be clumsy, python provides substring by inserting a colon between two index numbers set inside square brackets.

In [11]:
flavor = "fig pie"
flavor[0:3]

'fig'

flavor[0:3] returns the first three characters of the string assigned to
flavor, starting with the character at index 0 and going up to but not including the character at index 3. The [0:3] part of flavor[0:3] is called
a slice. In this case, it returns a slice of "fig pie".

In [12]:
#If you omit the first index in a slice, then Python assumes you want to start at index 0:
flavor[:3]
#This means that [0:3] is equivalent [:3] since they are return the first three characters in the string.

'fig'

In [13]:
#if you omit the second index in the slice,python assumes you want to return the substring whose index is the first number.
flavor[3:]

' pie'

If you omit both the first and second numbers in a slice, you get a
string that starts with the character at index 0 and ends with the last
character

In [14]:
flavor[:]

'fig pie'

In [21]:
#Python won't raise an index error when you try to slice between boundaries that fall outside
flavor[:9]
#python returns an empty string('') when you attempt to get the 13th and 14th character.
flavor[13:15]

''

In [22]:
#Instead of returning the ebtire string [-7:0] returns the empty string
flavor[-7:0]

''

This happens because the second number in a slice must correspond
to a boundary that is to the right of the boundary corresponding to the
first number, but both -7 and 0 correspond to the leftmost boundary
in the figure

In [24]:
#Of course, using flavor[-7:] to get the entire string is a bit odd considering that you can use the variable flavor without the slice to get the same result!
flavor[-7:]

'fig pie'

Strings are immutable.

- Strings are immutable, which means that you can’t change them once you’ve created them.
-If you want to alter a string, then you must create an entirely new string.

In [25]:
#We create a variable word
word = "goal"
#We want to join string f with our entire variable through a substrian from index character 1
word = "f" + word[1:]
#We cal our variable
word

'foal'

Review Exercises.

You can пnd the solutions to these exercises and many other bonus
resources online at realpython.com/python-basics/resources

1. Create a string and print its length using len().
2. Create two strings, concatenate them, and print the resulting
string.
3. Create two strings, use concatenation to add a space between them,
and print the result.
4. Print the string "zing" by using slice notation to specify the correct
range of characters in the string "bazinga".

In [29]:
#Create a string and print its length using len().
wife = "Chan is Mark's wife "
len(wife)

20

In [30]:
#Create two strings, concatenate them, and print the resulting string.
first_name = "Daniel"
second_name = "Brian"
third_name = "Gatuhu"

full_name = first_name + second_name + third_name
full_name

'DanielBrianGatuhu'

In [33]:
# Create two strings, use concatenation to add a space between them,and print the result.
first_name = "Daniel"
second_name = "Brian"
third_name = "Gatuhu"

full_name = first_name +" "+ second_name +" "+ third_name
full_name

'Daniel Brian Gatuhu'

In [34]:
# Print the string "zing" by using slice notation to specify the correct range of characters in the string "bazinga".
string1 = "bazinga"
string1[2:6]

'zing'

# Manipulate Strings With Methods

In this section, you’ll learn how to:

• Convert a string to uppercase or lowercase

• Remove whitespace from a string

• Determine if a string begins or ends with certain characters

Let’s go!

Converting String Case

In [35]:
#To convert a string to all lowercase letters, you use the string's .lower()
flavor = "Fig Pie"
flavor.lower()
#You will notice that capital letter F an P are changed to small letters.

'fig pie'

In [36]:
#The opposite of .lower() is .upper(), which converts every character in a string to uppercase:
flavor = "fig pie"
flavor.upper()

'FIG PIE'

Removing Whitespace From a String

Whitespace is any character that is printed as blank space.

There are three string methods that you can use to remove whitespace
from a string:
    
1. .rstrip()
2. .lstrip()
3. .strip()

In [38]:
#.rstrip() removes whitespace from the right side of a string:
name = "Daniel Brian Gatuhu   "
name.rstrip()
# This returns the new string "Daniel Brian Gatuhu", which no longer has the spaces at the end.

'Daniel Brian Gatuhu'

In [39]:
#.lstrip() works just like .rstrip(), except that it removes whitespace from the left-hand side of the string:
name = "   Daniel Brian Gatuhu"
name.lstrip()

'Daniel Brian Gatuhu'

In [42]:
#To remove whitespace from both the left and the right sides of the string at the same time, use .strip():
name = "   Daniel Brian Gatuhu   "
name.strip()

'Daniel Brian Gatuhu'

# Use IDLE to Discover Additional String Methods

Strings have lots of methods associated with them, and the methods
introduced in this section barely scratch the surface. IDLE can help
you find new string methods. To see how, first assign a string literal
to a variable in the interactive window:

>>> starship = "Enterprise"

Next, type starship followed by a period, but do not hit Enter . You
should see the following in the interactive window:
>>> starship.

Now wait for a couple of seconds. IDLE displays a list of every string
method, which you can scroll through using the arrow keys.

A related shortcut in IDLE is the ability to use Tab to automatically
fill in text without having to type long names. For instance, if you
type only starship.u and hit Tab , then IDLE automatically fills in starship.upper because only one method that begins with a u belongs to
starship.

This even works with variable names. Try typing just the first few letters of starship and pressing Tab . If you haven’t defined any other
names that share those first letters, then IDLE completes the name
starship for you.

In [1]:
#Examles
starship = "Enterprise"
starship.upper
starship

'Enterprise'

Review Exercises

You can пnd the solutions to these exercises and many other bonus
resources online at realpython.com/python-basics/resources

1. Write a program that converts the following strings to lowercase:
"Animals", "Badger", "Honey Bee", "Honey Badger". Print each lowercase string on a separate line.

2. Repeat exercise 1, but convert each string to uppercase instead oflowercase

3. Write a program that removes whitespace from the following strings, then print out the strings with the whitespace removed:

string1 = " Filet Mignon"

string2 = "Brisket "

string3 = " Cheeseburger "

4. Write a program that prints out the result of .startswith("be") on each of the following strings:
string1 = "Becomes"

string2 = "becomes"

string3 = "BEAR"

string4 = " bEautiful"

5. Using the same four strings from exercise 4, write a program that uses string methods to alter each string so that.startswith("be") returns True for all of them.

In [17]:
#Write a program that converts the following strings to lowercase: "Animals", "Badger", "Honey Bee", "Honey Badger". Print each lowercase string on a separate line.
lower_case =["Animals", "Badger", "Honey Bee", "Honey Badger"]
#First way to solve it  is to index every word in the list and tranform it.
lower_case[0].lower()
#Second way is to use for loop through the list 
for lower_cases in lower_case:
    output = lower_cases.lower()
    print(output)

animals
badger
honey bee
honey badger

In [21]:
#Repeat exercise 1, but convert each string to uppercase instead of lowercase
lower_case =["Animals", "Badger", "Honey Bee", "Honey Badger"]
for lower_cases in lower_case:
    output = lower_cases.upper()
    print(output)

ANIMALS
BADGER
HONEY BEE
HONEY BADGER

In [25]:
#Write a program that removes whitespace from the following strings, then print out the strings with the whitespace removed:
#Left whitespace
string1 = " Filet Mignon"
x = string1.lstrip()
#Right whitespace
string2 = "Brisket "
y = string2.rstrip()
#Whitespace on both left and right
string3 = " Cheeseburger "
z = string3.strip()
print(x,y,z)

Filet Mignon Brisket Cheeseburger

In [26]:
#Write a program that prints out the result of .startswith("be") on each of the following strings: 
#string1 = "Becomes"
#string2 = "becomes"
#string3 = "BEAR"
#string4 = " bEautiful"

#I want to create a list and then use a for loop

string = ["Becomes","becomes","BEAR","bEautiful"]
for strings in string:
    output = strings.startswith("be")
    print(output)

False
True
False
False

In [1]:
#Using the same four strings from exercise 4, write a program that uses string methods to alter each string so that.startswith("be") returns True for all of them.
string = ["Becomes","becomes","BEAR","bEautiful"]
for strings in string:
    str_lower = strings.lower()
    output = str_lower.startswith("be")
    print(output)

True
True
True
True

# Interact With User Input

In this section, you’ll learn how to get some input from a user with
input(). You’ll write a program that asks a user to input some text and
then displays that text back to them in uppercase.

In [2]:
input()

Hello there!

'Hello there!'

The text you entered is repeated on a new line with single quotes.
That’s because input() returns as a string any text entered by the user.

To make input() a bit more user-friendly, you can give it a prompt to
display to the user. The prompt is just a string that you put between
the parentheses of input(). It can be anything you want: a word, a
symbol, a phrase—anything that is a valid Python string.

To see how input() works, type the following code into IDLE’s editor
window:

In [ ]:
prompt = "Hey, what's up? "
user_input = input(prompt)
print("You said said: " +user_input)

Once you have input from a user, you can do something with it. For
example, the following program takes user input, converts it to uppercase with .upper(), and prints the result:

In [ ]:
response = input("What should i shout? ")
shouted_response = response.upper()
print("Well, if you insist..." + shouted_response)

Review Exercises

You can пnd the solutions to these exercises and many other bonus
resources online at realpython.com/python-basics/resources

1. Write a program that takes input from the user and displays that input back.
2. Write a program that takes input from the user and displays the input in lowercase.
3. Write a program that takes input from the user and displays the number of characters in the input.

# Challenge: Pick Apart Your User’s Input

Write a program named first_letter.py that prompts the user for input with the string "Tell me your password:". The program should then
determine the first letter of the user’s input, convert that letter to uppercase, and display it back.
For example, if the user input is "no", then the program should display the following output:
    
The first letter you entered was: N

# Working With Strings and Numbers

In this section, you’ll learn how to deal with strings of numbers.
You’ll also learn how to convert between strings
and number types.

Using Strings With Arithmetic Operators

In [1]:
#Don't confuse numerals in a string with actual numbers
num = "2"
num + num
#The + operator concatenates two strings together, which is why the result of "2" + "2" is "22" and not "4".

'22'

In [2]:
#You can multiple strings by a number as long as that number is an integer or whole number
num = "12"
num * 3
#num * 3 concatenates three instances of the string "12" and returns the string "121212".

'121212'

In [3]:
#Type "12" * "3" in the interactive window and press
"12" * "3"

TypeError: can't multiply sequence by non-int of type 'str'

sequence is any Python object that supports accessing elements by index.
Python raises a TypeError and tells you that you can’t multiply a sequence by a non-integ

In [4]:
"3" + 3

TypeError: can only concatenate str (not "int") to str

Python throws a TypeError because it expects the objects on both sidesof the + operator to be of the same type.
If an object on either side of + is a string, then Python tries to perform
string concatenation. It will only perform addition if both objects are
numbers. So, to add "3" + 3 and get 6, you must first convert the string
"3" to a number.

# Converting Strings to Numbers
Let’s look at an example. Save and run the following program:

In [8]:
#Remember, input() always returns a string
num = input("Enter a number to be doubled ")
doubled_num = num * 2
print(doubled_num)

Enter a number to be doubled 2
22

If you entered the number 2 at the prompt, then you would expect the
output to be 4. But in this case, you would get 22. Remember, input()
always returns a string, so if you input 2, then num is assigned the string
"2", not the integer 2. Therefore, the expression num * 2 returns the
string "2" concatenated with itself, which is "22".

int() and foat() converts strings into numbers
int()stands for integer and converts objects into whole numbers
float() stands for floating-point numberand converts objects into decimals

In [10]:
#integer
int("12")
#float
float("12")
#you will nite that float will add a decimal point when you run the output

12.0

#Now lets revisit our first program
#The problem is with the second line where num is a string and 2 is an integer
#How we should tackle this is by changing the string into a number either integer or float
num = input("Enter a number to be doubled: ")
doubled_num = int(num) * 2
print(doubled_num)

# Converting Numbers to Strings

As you’ve already seen, concatenating a number with a string produces a TypeError:

In [13]:
num_pancakes = 10
"I am going to eat " + num_pancakes + "pancakes. "

TypeError: can only concatenate str (not "int") to str

Since num_pancakes is a number, Python can’t concatenate it with the
string "I'm going to eat". To build the string, you need to convert
num_pancakes to a string using str():

In [15]:
num_pancakes = 10
"I am going to eat " + str(num_pancakes) + " pancakes. "

'I am going to eat 10 pancakes. '

In [16]:
#you can also call str() on a number literal
"I am going to eat " + str(10) + " pancakes. "

'I am going to eat 10 pancakes. '

In [17]:
#str() can also handle arithmetic expressions

total_pancakes = 10
pancakes_eaten = 5
"Only " + str(total_pancakes - pancakes_eaten) + " pancakes left."

'Only 5 pancakes left.'

Review Exercises

You can пnd the solutions to these exercises and many other bonus
resources online at realpython.com/python-basics/resources

1. Create a string containing an integer, then convert that string into an actual integer object using int(). Test that your new object is a number by multiplying it by another number and displaying the result.
2. Repeat the previous exercise, but use a floating-point number and float().
3. Create a string object and an integer object, then display them side by side with a single print statement using str().
4. Write a program that uses input() twice to get two numbers from the user, multiplies the numbers together, and displays the result. If the user enters 2 and 4, then your program should print the following text:

The product of 2 and 4 is 8.0.

In [1]:
#Create a string containing an integer, then convert that string into an actual integer object using int(). Test that your new object is a number by multiplying it by another number and displaying the result.
#4 is a numeral in a string
var = "4"
#create a variable var_int to store the integer formed
var_int = int(var)
#intro. variable num  which will store our result after mult.
num = var_int * 4
#print the output
print(num)

16

In [3]:
#Repeat the previous exercise, but use a floating-point number and float().
var = "3.0"
var_int = float(var)
num = var_int * 4
print(num)

12.0

In [5]:
#Create a string object and an integer object, then display them side by side with a single print statement using str().
string1 = "I am "
string2 = " years old."
int_object = 10
display_object = string1 + str(int_object) + string2
print(display_object)

I am 10 years old.

In [24]:
#Write a program that uses input() twice to get two numbers from the user, multiplies the numbers together, and displays the result. If the user enters 2 and 4, then your program should print the following text:
#The product of 2 and 4 is 8.0.
first_input = int(input("Enter first number: "))
second_input = int(input("Enter second number: "))
number_multiplication = float(first_input * second_input)
print("The product of",first_input,"and",second_input,"is",number_multiplication)
#f"The product of {first_input} and {second_input} is {number_multiplication}"

Enter first number: 4
Enter second number: 6
The product of 4 and 6 is 24.0

# Streamline Your Print Statements

string interpolation, which is
just a fancy way of saying that you want to insert some variables into specific locations in a string.

fornatted string literals are known as f-strings

In [18]:
#Example
name = "Zaphod"
heads = 2
arms = 3
#how to display all this in a string
name + " has " + str(heads) + " heads and " + str(arms) + " arms"

'Zaphod has 2 heads and 3 arms'

The easiest way to understand f-strings is to see them in action. Here’s
what the above string looks like when written as an f-string:

In [19]:
#The example using f-strings
f"{name} has {heads} heads and {arms} arms"

'Zaphod has 2 heads and 3 arms'

There are two important things to notice about the above example:
1. The string literal starts with the letter f before the opening quotation mark.
2. Variable names surrounded by curly braces ({}) are replaced by their corresponding values without using str().

In [22]:
#You can also insert Python expressions between the curly braces. The expressions are replaced with their result in the string:
n = 3
m = 4
f"{n} times {m} is {n*m}"

'3 times 4 is 12'

In [25]:
#In early versions of python, you can use .format() to get the same results.
"{} has {} heads and {} arms".format(name,heads,arms)

'Zaphod has 2 heads and 3 arms'

Review Exercises

You can пnd the solutions to these exercises and many other bonus
resources online at realpython.com/python-basics/resources

1. Create a float object named weight with the value 0.2, and create a string object named animal with the value "newt". Then use theseobjects to   print the following string using only string concatenation:

0.2 kg is the weight of the newt.

2. Display the same string by using .format() and empty {} placeholders.
3. Display the same string using an f-string.

In [29]:
#Create a float object named weight with the value 0.2, and create a string object named animal with the value "newt". Then use theseobjects to print the following string using only string concatenation: 0.2 kg is the weight of the newt.
weight = 0.2
animal = "newt"
str(weight) + "kg is the weight of the " + str(animal) + "."

'0.2kg is the weight of the newt.'

In [32]:
#Display the same string by using .format() and empty {} placeholders
"{}kg is the weight of the {}.".format(weight,animal)

'0.2kg is the weight of the newt.'

In [33]:
# Display the same string using an f-string.
f"{weight}kg is the weight of the {animal}."

'0.2kg is the weight of the newt.'

# Find a String in a String

One of the most useful string methods is .find(). As its name implies,
this method allows you to find the location of one string in another
string—commonly referred to as a substring.

To use .find(), tack it to the end of a variable or a string literal with
the string you want to find typed between the parentheses:

In [34]:
phrase = "the surprise is in here somewhere"
phrase.find("surprise")

4

The value that .find() returns is the index of the first occurrence of the
string you pass to it. In this case, "surprise" starts at the fifth character
of the string "the surprise is in here somewhere", which has index 4
because counting starts at zero.

# Thank you !! Happy learning.